*BuiltFiles_*.txt
*CopiedFiles_*.txt
*DeployedFiles_*.txt
*.TDS.*/Package_*
*.TDS.*/QA-*/
*.TDS.*/INT-*/
*.TDS.*/Debug/
*.TDS.*/Release/
*.TDS.*/PROD*/
*.TDS.*/Sandbox/
*.TDS.*/CI/
*.TDS.*/IconCache/
*.user
*.suo
bin/
obj/
src/packages/
*.ncrunchsolution
*.ncrunchproject
src/_NCrunch*/
src/.idea/
src/.vs/
*.TDS.*/*.xml
